.vscode/

samples/
build/

*.o
*.so
*.a
*.dll
*.s

*.wav
*.mp3
*.bmp

*.kwz
*.ppm

keys/kwz_priv.pem
keys/kwz_pub.pem
keys/ppm_priv.pem
keys/ppm_pub.pem

# Test executables
tests/crc32_test
tests/misc_test
tests/ppm_audio_test
